/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #111;
    color: #fff;
}

/* Header Styles */
.header {
    display: flex;
    padding: 20px 30px 100px; /* Memperbarui padding */
    background-color: #111;
}

.logo, .avatar {
    height: 20px;
}

.en-flix {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 20px;
}

/* Hero Styles */
.hero {
    background-image: url('https://i.pinimg.com/originals/2e/f8/16/2ef81631e135904cf194c8015cf2a9d2.jpg');
    background-size: 1000px;
    background-position: center;
    height: 150vh;
    display: flex;
    align-items: center;
    text-align: center;
}

.hero-content {
    max-width: 800px;
    margin: auto;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 3em;
    margin-bottom: 10px;
    color: #fff;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #ffffff62;
}

button {
    background-color: #e50914;
    color: #fff;
    font-size: 1em;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #777070;
}

/* Footer Styles */
.footer {
    text-align: center;
    padding: 20px;
    font-size: 5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #ffffff;
}

/* Categories Styles */
.categories {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.category {
    text-align: center;
    max-width: px; /* Menambahkan lebar maksimum */
    background-color: #646363;
    padding: 20px; /* Menambahkan padding */
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}

.category:hover {
    transform: scale(1.05);
}

.category h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.category p {
    font-size: 1em;
}

.contact-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.contact-container h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #343a40;
}

.contact-container .form-group {
    margin-bottom: 20px;
    text-align: left;
}

.contact-container label {
    font-size: 1.1em;
    color: #343a40;
}

.contact-container input, .contact-container textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 1em;
}

.contact-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    background-color: #343a40;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-container button:hover {
    background-color: #555;
}


